@import url("https://fonts.maateen.me/charukola-ultra-light/font.css");

:root {
  --dark-primary-color: #2f9e44;
  --light-primary-color: #d3f9d8;
  --primary-color: #69db7c;
  --text-color: #FFFFFF;
  --accent-color: #FFC107;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #BDBDBD;
}

/* https://www.materialpalette.com/grey/grey
https://yeun.github.io/open-color/ */

body {
  font-family: "CharukolaUltraLight", sans-serif;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(3, 1fr) auto;
  grid-gap: 10px;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

main>*:first-child {
  grid-column: 1;
  grid-row: 1 / span 3;
}

main>*:not(:first-child):not(:last-child) {
  grid-column: 2;
}

main>*:nth-last-child(2) {
  grid-row: 4;
}

main>*:last-child {
  grid-column: 1 / span 2;
  grid-row: 5;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}